<!DOCTYPE html>
<html lang="en">

<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link href="{% static 'src/custom.css' %}" rel="stylesheet">

</head>

<body class="bg-white font-poppins">

    <header class=" mt-4 p-4 flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <img src="{% static 'cubodeLogo.svg' %}" alt="CubodeLogo">
        </div>
        <div>
            
            <div class="flex ">
                <div  class="rounded-3xl bg-customGrayLight">
                    <button
                        class="text-sm custom-base custom-7  pr-10 text-custom_Black opacity-70 py-2 px-4 rounded-l-3xl inline-flex items-center">
                        <img src="{% static 'clip.svg' %}" alt="clip" width="17" height="17">
                        <span class="ml-2">Upload csv or excel file</span>
                        <img class="bg-custom_Gray rounded-full ml-6 " src="{% static 'svg/clock.svg' %}" alt="clip" width="21"
                            height="21">
                    </button>
                    <button
                        class="bg-custom_Black text-white py-3 px-4 rounded-3xl inline-flex items-center text-sm custom-base custom-7  text-center">
                        <span class="mx-5">Start Generating</span>
                        <img src="{% static 'svg/star.svg' %}" alt="clip" class="mr-5" width="15" height="15">
                    </button>
                    
                </div>
                {% if is_logged %}
                <div class="flex rounded-3xl bg-custom_Gray items-center px-2 py-1 ml-3 space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
                        <path
                            d="M20 10.75C20 10.336 19.664 10 19.25 10H0.75C0.336 10 0 10.336 0 10.75C0 11.164 0.336 11.5 0.75 11.5H19.25C19.664 11.5 20 11.164 20 10.75ZM20 5.75C20 5.336 19.664 5 19.25 5H0.75C0.336 5 0 5.336 0 5.75C0 6.164 0.336 6.5 0.75 6.5H19.25C19.664 6.5 20 6.164 20 5.75ZM20 0.75C20 0.336 19.664 0 19.25 0H0.75C0.336 0 0 0.336 0 0.75C0 1.164 0.336 1.5 0.75 1.5H19.25C19.664 1.5 20 1.164 20 0.75Z"
                            fill="#2D2D2A" />
                    </svg>
                    <img src="{% static 'svg/maskGroup.svg' %}" alt="clip" >
                </div>
                {% endif %}
            </div>
        </div>

        <div class="flex space-x-4">
            <!-- <a href="{% url 'registration' %}" class="text-sign">Sign up</a>
            <a href="{% url 'login' %}" class="text-sign">Sign in</a> -->
            {% if is_logged %}
            <a href="#" class="text-sign border px-3 py-1">Invite</a>
            <div class="flex items-center space-x-2">
                <img src="{% static 'svg/moon.svg' %}" alt="User Icon"
                    class="w-8 h-8 ">
            </div>
            {% else %}
            <a href="{% url 'registration' %}" class="text-sign">Sign up</a>
            <a href="{% url 'login' %}" class="text-sign">Sign in</a>
            {% endif %}
        </div>
    </header>
    <main class="p-4">
        <div class="border border-solid border-custom p-6 min-h-screen rounded-sm">
            {% if upload %}
            <div class="flex">
                <!-- Aside with SVG and vertical line -->
                <aside id="sidebar"
                    class="flex flex-col items-center mr-6 border-r border-custom pr-6 transition-all duration-300 ease-in-out">
                    <div class="flex justify-between items-center w-full">
                        <button id="menu-button" class="flex items-center">
                            <img src="{% static 'svg/menu_icon.svg' %}" alt="Menu Icon" class="w-6 h-6">
                        </button>
                        <button id="close-button" class="hidden">
                            <img src="{% static 'svg/close_icon.svg' %}" alt="Close Icon" class="w-4 h-4">
                        </button>
                    </div>
                    <div id="expanded-content" class="hidden mt-4 w-full">
                        <!-- Add your additional content here -->
                    </div>
                </aside>

                <!-- Main content area -->
                <div class="flex-1">
                    <div id="content" class="flex items-center justify-between mb-8 ">
                        <div class="flex space-x-4">
                            <a href="#" class="text-sign opacity-70">Regenerate</a>
                            <a href="#" class="text-sign opacity-70">Export</a>
                            <a href="#" class="text-sign opacity-70">Share</a>
                        </div>
                        <div class="flex space-x-9 mr-4">
                            <button class="">
                                <img src="{% static 'svg/prev_icon.svg' %}" alt="Previous" class="w-6 h-6">
                            </button>
                            <button class="">
                                <img src="{% static 'svg/next_icon.svg' %}" alt="Next" class="w-6 h-6">
                            </button>
                        </div>
                    </div>
                    <div class="bg-customGrayLight min-h-screen rounded-sm">
                        <!-- Placeholder for the main content area -->
                    </div>
                    <div class="text-right text-[#2D2D2AB2] opacity-70 mt-4 text-xs font-normal leading-7">
                        Please check the files for errors before an upload. Plots generated by Cubode are not...
                    </div>
                </div>
            </div>{% endif %}
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidebar = document.getElementById('sidebar');
            const menuButton = document.getElementById('menu-button');
            const closeButton = document.getElementById('close-button');
            const expandedContent = document.getElementById('expanded-content');

            menuButton.addEventListener('click', function () {
                sidebar.classList.add('w-64'); // Expand sidebar width
                // menuButton.classList.add('hidden');
                closeButton.classList.remove('hidden');
                expandedContent.classList.remove('hidden');
            });

            closeButton.addEventListener('click', function () {
                sidebar.classList.remove('w-64'); // Collapse sidebar width
                menuButton.classList.remove('hidden');
                closeButton.classList.add('hidden');
                expandedContent.classList.add('hidden');
            });
        });
    </script>
</body>

</html>