<!DOCTYPE html>
<html lang="en">
    <head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link href="{% static 'src/custom.css' %}" rel="stylesheet">

</head>
<body class="bg-white font-poppins">
   
    <header class=" mt-4 p-4 flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <img src="{% static 'svg/cubodeLogo1.svg' %}" alt="CubodeLogo" >
        </div>
        <div class="flex">
            <button class="bg-customGrayLight pr-10 text-gray-700 py-2 px-4 rounded-l-md inline-flex items-center">
                <img src="{% static 'clip.svg' %}" alt="clip" width="20" height="20">
                <span class="ml-1">Upload csv or excel file</span>
            </button>
            <button class="bg-customGray text-white py-2 px-4 rounded-r-md inline-flex items-center">
                <span class="mr-2">Start Generating</span>
                <img src="{% static 'svg/star.svg' %}" alt="clip" width="20" height="20">
            </button>
        </div>
        <div class="flex space-x-4">
            <!-- <a href="{% url 'registration' %}" class="text-sign">Sign up</a>
            <a href="{% url 'login' %}" class="text-sign">Sign in</a> -->
            {% if is_logged %}
                <a href="#" class="text-sign">Invite</a>
                <div class="flex items-center space-x-2">
                    <span class="text-sign ml-4">User</span>
                    <img src="{% static 'svg/user_icon.svg' %}" alt="User Icon" class="w-7 h-7 rounded-full p-1 bg-customGray
                    ]">
                </div>
            {% else %}
                <a href="{% url 'registration' %}" class="text-sign">Sign up</a>
                <a href="{% url 'login' %}" class="text-sign">Sign in</a>
            {% endif %}
        </div>
    </header>
    <main class="p-4">
        <div class="border border-solid border-custom p-6 min-h-screen rounded-sm">
            <!-- Content goes here -->
            <div class="flex items-center justify-between mb-4">
                <button class="flex items-center space-x-2">
                    <img src="{% static 'svg/menu_icon.svg' %}" alt="Menu Icon" class="w-6 h-6">
                </button>
                <div class="flex space-x-4">
                    <a href="#" class="text-gray-700">Regenerate</a>
                    <a href="#" class="text-gray-700">Export</a>
                    <a href="#" class="text-gray-700">Share</a>
                </div>
                <div class="flex space-x-2">
                    <button class="text-gray-700">
                        <img src="{% static 'svg/prev_icon.svg' %}" alt="Previous" class="w-6 h-6">
                    </button>
                    <button class="text-gray-700">
                        <img src="{% static 'svg/next_icon.svg' %}" alt="Next" class="w-6 h-6">
                    </button>
                </div>
            </div>
            <div class="bg-customGrayLight min-h-[600px] rounded-sm">
                <!-- Placeholder for the main content area -->
                 <h1>ciao</h1>
            </div>
        </div>
        <div class="text-center text-gray-500 mt-4 text-sm">
            Please check the files for errors before an upload. Plots generated by Cubode are not...
        </div>
        </div>
    </main>
</body>
</html>
