{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubode | Build it</title>
    {% render_bundle 'home' 'css' %}
<script defer src="home.bundle.js"></script></head>

<body class="bg-white font-poppins">

    <header class=" mt-4 p-4 flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <img src="{% static 'svg/cubode_logo.svg' %}" alt="CubodeLogo">
        </div>
        <div class="flex rounded-3xl bg-customGrayLight">
            <button
                class="text-sm custom-base custom-7  pr-10 text-custom_Black opacity-70 py-2 px-4 rounded-l-3xl inline-flex items-center">
                <img src="{% static 'svg/clip.svg' %}" alt="clip" width="17" height="17">
                <span class="ml-2">Upload csv or excel file</span>
            </button>
            <button
                class="bg-custom_Black text-white py-2 px-4 rounded-3xl inline-flex items-center text-sm custom-base custom-7  text-center">
                <span class="mr-2 text-white dark:text-white">Start Generating</span>
                <img src="{% static 'svg/star.svg' %}" alt="clip" class="mr-5" width="15" height="15">
            </button>
        </div>
  
        <div class="flex space-x-4">
            <!-- <a href="{% url 'registration' %}" class="text-sign">Sign up</a>
            <a href="{% url 'login' %}" class="text-sign">Sign in</a> -->
            {% if is_logged %}
            <a href="#" class="text-sign px-3 py-1">Invite</a>
            <div class="flex items-center space-x-2">
                <img src="{% static 'svg/moon.svg' %}" alt="User Icon"
                    class="w-8 h-8 ">
            </div>
            {% else %}
            <a href="{% url 'registration' %}" class="text-sign">Sign up</a>
            <a href="{% url 'login' %}" class="text-sign">Sign in</a>
            {% endif %}
        </div>
    </header>
    <main class="p-4">
        <div class="border border-solid border-custom p-6 min-h-screen rounded-sm">
            {% if upload %}
            <div class="flex">
                <!-- Aside with SVG and vertical line -->
                <aside id="sidebar"
                    class="flex flex-col items-center mr-6 border-r border-custom pr-6 transition-all duration-300 ease-in-out">
                    <div class="flex justify-between items-center w-full">
                        <button id="menu-button" class="flex items-center">
                            <img src="{% static 'svg/menu_icon.svg' %}" alt="Menu Icon" class="w-6 h-6">
                        </button>
                        <button id="close-button" class="hidden">
                            <img src="{% static 'svg/close_icon.svg' %}" alt="Close Icon" class="w-4 h-4">
                        </button>
                    </div>
                    <div id="expanded-content" class="hidden mt-4 w-full">
                        <!-- Add your additional content here -->
                    </div>
                </aside>

                <!-- Main content area -->
                <div class="flex-1">
                    <div id="content" class="flex items-center justify-between mb-8 ">
                        <div class="flex space-x-4">
                            <a href="#" class="text-sign opacity-70">Regenerate</a>
                            <a href="#" class="text-sign opacity-70">Export</a>
                            <a href="#" class="text-sign opacity-70">Share</a>
                        </div>
                        <div class="flex space-x-9 mr-4">
                            <button class="">
                                <img src="{% static 'svg/prev_icon.svg' %}" alt="Previous" class="w-6 h-6">
                            </button>
                            <button class="">
                                <img src="{% static 'svg/next_icon.svg' %}" alt="Next" class="w-6 h-6">
                            </button>
                        </div>
                    </div>
                    <div class="bg-customGrayLight min-h-screen rounded-sm">
                        <!-- Placeholder for the main content area -->
                    </div>
                    <div class="text-right text-[#2D2D2AB2] opacity-70 mt-4 text-xs font-normal leading-7">
                        Please check the files for errors before an upload. Plots generated by Cubode are not...
                    </div>
                </div>
            </div>{% endif %}
        </div>
    </main>

</body>
{% render_bundle 'home' 'js' %}
</html>