@tailwind base;
@tailwind components;
@tailwind utilities;


.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.bg-customGray {
    background-color: #7E7E7E;
  }

.bg-customGrayLight {
    background-color: #F3F3F3;
}

.text-upload{
    background: #2D2D2AB2;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    opacity: 70%;
  }

.text-generation_Btn{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  
}

.border-custom {
  border-color: #E6E6E6;
}
.sign-up-btn{
  background: #1e395cff;

}
.text-dark-blue{
  color: #1e395cff;

}

.lightblue{
 background:  #80A5D6;
}
.continue-google{
  background: #F3F3F3;

}

.text-sign{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #2D2D2A; 
}

#sidebar {
  width: auto;
  /* Initial width */
  min-width: 3rem;
  /* Ensure minimum width for the menu icon */
}

#sidebar.w-64 {
  width: 16rem;
  /* Expanded width */
}