.font-poppins {
    font-family: 'Poppins', sans-serif;}

.bg-customGray {
    background-color: #7E7E7E;
  }

.bg-customGrayLight {
    background-color: #F3F3F3;

}

.text-upload{
    background: #2D2D2AB2;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    opacity: 70%;
  }

.text-generation_Btn{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  
}

.border-custom {
  border-color: #E6E6E6;
}
.sign-up-btn{
  background: #787878;

}
.continue-google{
  background: #F3F3F3;

}

.text-sign{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #2D2D2A; 
}

/* .text-signup{
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 30px;
text-align: center;
color: #2D2D2A; 
}
   */